WorkTimeLoggerFirmwareForESP/cmake-build-debug/
.DS_Store
.idea
/WorkTimeLoggerFirmwareForAtMega328/cmake-build-debug
/WorkTimeLoggerServer/.phpstorm.meta.php
/WorkTimeLoggerServer/_ide_helper.php
/WorkTimeLoggerServer/.vagrant
/WorkTimeLoggerServer/erd_graph.svg
/WorkTimeLoggerServer/erd_graph.png
