<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkTimeLoggerEmulator.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WorkTimeLoggerEmulator.WinForms.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WorkTimeLoggerEmulator.WinForms.Properties.Settings>
            <setting name="token" serializeAs="String">
                <value>VERY_SECRET_TEST_TOKEN</value>
            </setting>
            <setting name="endpoint" serializeAs="String">
                <value>http://10.20.30.40/hw/</value>
            </setting>
        </WorkTimeLoggerEmulator.WinForms.Properties.Settings>
        <WorkTimeLoggerEmulator.WinForms.UserSettings>
            <setting name="endpoint" serializeAs="String">
                <value>http://10.20.30.40/hw/</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>VERY_SECRET_TEST_TOKEN</value>
            </setting>
        </WorkTimeLoggerEmulator.WinForms.UserSettings>
    </userSettings>
</configuration>